@import "../../../variables.scss";

.dropdown {
  color: black;
  position: absolute;
  top: $navbar-height;
  width: 100vw;
}

.searchbar {
  background-color: $colour1;
  display: flex;
  padding: 3px;
}
