@import "../../variables.scss";

.navbar {
  background-color: $colour3;
  color: $colour2;
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  height: $navbar-height;
  padding: $main-padding;
  position: fixed;
  width: 100%;
  .title-image {
    border: 2px solid black;
    width: 160px;
  }
  .nav-link {
    cursor: pointer;
    font-size: 21px;
    margin-top: 12px;
    text-align: center;
    .nav-link-icon {
      font-size: 18px;
    }
  }
  * {
    color: $colour2;
  }
}

.landing-jumbotron {
  color: $colour2;
  .upper-padding {
    height: $navbar-height;
  }
  .landing-jumbotron-image {
    background-color: $colour1;
    color: $colour2;
    height: 420px;
    padding: 6px 3%;
  }
}

.landing-products {
  background-color: $colour2;
  padding: $main-padding;
  .landing-products-title {
    font-family: $title-font;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
  }
  .landing-products-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
