@import "../../variables.scss";

.navbar {
  background-color: $colour3;
  color: $colour2;
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  height: $navbar-height;
  padding: $main-padding;
  position: fixed;
  width: 100%;
  .title-image {
    width: 160px;
  }
  .nav-link {
    font-size: 21px;
    margin-top: 12px;
    text-align: center;
    .nav-link-icon {
      cursor: pointer;
      font-size: 18px;
    }
  }
  * {
    color: $colour2;
  }
}

.landing-jumbotron {
  color: $colour2;
  .landing-jumbotron-image {
    background-color: $colour1;
    color: $colour2;
    height: 280px;
    padding: 6px 3%;
  }
}

.landing-products {
  padding: $main-padding;
  .landing-products-title {
    font-family: $title-font;
    font-size: 42px;
    font-weight: 200;
    text-align: center;
  }
  .landing-products-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  background-color: $colour1;
  padding: 12px 2%;
  * {
    color: $colour2;
  }
  .footer-section {
    margin-bottom: 6px;
    .footer-section-title {
      font-size: 28px;
      text-align: center;
    }
    .newsletter-submit {
      display: flex;
      margin: 12px 21px;
    }
    .social-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 12px 21px;
      .social-logo {
        font-size: 28px;
        text-align: center;
      }
    }
  }
  .footer-links {
    padding: 8px 3% 16px;
    .footer-link {
      color: rgba($color: $colour2, $alpha: 0.7);
      cursor: pointer;
      font-size: 18px;
      margin: 3px 0;

      transition: 0.3s ease-in-out color;
    }
    .footer-link:hover {
      color: $colour3;
    }
  }
}
