$colour1: #3b2f2f;
$colour2: #f8f8f8;
$colour3: #ebc8b2;

$dropdown-width: 320px;

$title-font: "Playfair Display", serif;
$regular-font: "Roboto Condensed", sans-serif;

$navbar-height: 70px;

$form-padding1: 12px;

$main-padding: 7px 1%;

$route-padding: $navbar-height 0 21px 0;
