@import "../../variables.scss";

.basket-item {
  border-bottom: 1px solid $colour2;
  display: grid;
  grid-template-columns: 28px auto 38px 18px 28px;
  height: 35px;
  margin-bottom: 6px;
  .basket-item-image {
    background-color: $colour1;
  }
  .basket-item-name,
  .basket-item-price,
  .basket-item-qty {
    font-size: 14px;
  }
}

.button {
  background-color: $colour1;
  border: none;
  cursor: pointer;
}
.button1 {
  border: 2px solid $colour2;
  i {
    color: $colour2;
  }
}
.button2 {
  color: $colour2;
  float: right;
  padding: 2px 0;
  width: 70px;
}

.card {
  margin: 0 auto 21px auto;
  .card-image {
    background-color: $colour1;
  }
  .card-title {
    background-color: $colour1;
    border: 4px solid $colour3;
    color: $colour3;
    margin: 12px auto 6px auto;
    max-width: 180px;
  }
}
.card1 {
  max-width: 350px;
  text-align: center;
  width: 100%;
  .card-image {
    height: 100vw;
    margin: 0 auto;
    max-height: 350px;
  }
  .card-title {
    font-size: 28px;
  }
}

.input {
  background-color: $colour2;
  border: none;
  color: $colour1;
  width: 100%;
}
.input1 {
  height: 28px;
  padding-left: $form-padding;
}
.input2 {
  border-bottom: 1px solid $colour1;
  margin: 4px 0;
}

.menu-item {
  cursor: pointer;
}
.menu-item1 {
  background-color: $colour1;
  border-bottom: 1px solid $colour2;
  color: $colour2;
  font-size: 16px;
  padding: $menu-padding1;
}
.menu-item2 {
  background-color: $colour2;
  border-bottom: 1px solid $colour1;
  color: $colour1;
  font-size: 14px;
  padding: $menu-padding2;
}

.product-image {
  margin: 12px auto;
  text-align: center;
  .product-image-container {
    border: 3px solid $colour1;
    height: 320px;
    padding: 2%;
    width: 320px;
    .image {
      background-color: $colour1;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
  }
  .product-image-name {
  }
}
